<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883629913710-9afmkeobv416a6ss2e49cv6rbappcmim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883629913710-9afmkeobv416a6ss2e49cv6rbappcmim</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ_jib5H_zDdCZKsRR0SyZIdM5N8Xzxlg</string>
	<key>GCM_SENDER_ID</key>
	<string>883629913710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderandrianov.EcoFill</string>
	<key>PROJECT_ID</key>
	<string>ecofill-f90af</string>
	<key>STORAGE_BUCKET</key>
	<string>ecofill-f90af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883629913710:ios:c1df4e67cacafe877f987f</string>
	<key>DATABASE_URL</key>
	<string>https://ecofill-f90af-default-rtdb.firebaseio.com</string>
</dict>
</plist>